In [1]:
import pandas as pd

In [5]:
pd.read_csv('MER_T01_03.csv').head()

       MSN  YYYYMM      Value  Column_Order       Description             Unit
0  CLTCBUS  194913  11.980905             1  Coal Consumption  Quadrillion Btu
1  CLTCBUS  195013  12.347109             1  Coal Consumption  Quadrillion Btu
2  CLTCBUS  195113  12.552996             1  Coal Consumption  Quadrillion Btu
3  CLTCBUS  195213  11.306479             1  Coal Consumption  Quadrillion Btu
4  CLTCBUS  195313  11.372684             1  Coal Consumption  Quadrillion Btu

In [7]:
pd.read_csv('per-capita-greenhouse-gas-emissions.csv').head()

          Entity  Year  Per capita greenhouse gas emissions in CO₂ equivalents
0  United States  1850                                          36.810047
1  United States  1851                                          37.967045
2  United States  1852                                          38.715282
3  United States  1853                                          37.862060
4  United States  1854                                          38.116035